main > div { padding: var(--padding-big); }
main > div > p { color: var(--text-minor-color); }
main > div > button { float: right; width: fit-content; padding: var(--padding-vertical-regular) var(--padding-horizontal-big); }

td:first-child > span:last-child { color: var(--text-minor-color); }
tr:nth-child(2n) td:last-child > button { color: var(--brand-color); }
td:last-child > button
{
    border: thin solid var(--border-color); background: transparent; color: var(--text-minor-color);
    width: max-content; min-width: calc(var(--interactive-min-width) / 2);
}

dialog label:is(:nth-of-type(1), :nth-of-type(2)) > input { background: var(--surface-color); border: none; }