main > div > div { display: flex; gap: var(--sizing-regular); margin-top: var(--margin-vertical-regular); }
main > div > div > input { width: unset; }
main > div > div > input[type='date'] { background: transparent; }
main > div > div > input[type='search'] { margin-left: auto; width: calc(2 * var(--interactive-min-width)); }

td:first-of-type { display: grid; grid-template-columns: 50px auto; grid-template-rows: 1fr 1fr; column-gap: var(--sizing-regular); align-items: center; }
td:first-of-type > img { grid-row: span 2; border-radius: var(--border-radius-regular); }


[data-key='status'][data-value='PREPARATION'],
select[name='status'] option[value='PREPARATION'],
select[name='status']:has(option[value='PREPARATION']:checked)
{
    color: var(--color-yellow);
}

[data-key='status'][data-value='CONTRACT'],
select[name='status'] option[value='CONTRACT'],
select[name='status']:has(option[value='CONTRACT']:checked)
{
    color: var(--brand-color);
}

[data-key='status'][data-value='ACTIVE'],
select[name='status'] option[value='ACTIVE'],
select[name='status']:has(option[value='ACTIVE']:checked)
{
    color: var(--color-green);
}

.sorter::after
{
    content: ''; display: inline-block; height: 0.6em; width: 0.6em; margin-left: var(--margin-horizontal-interactive);
    transform: translateY(-35%) rotate(45deg); border-width: 2px; border-style: solid; border-color: transparent currentColor currentColor transparent;
}

.filter
{
    aspect-ratio: 1/1; padding: 0; min-width: unset; display: flex; place-items: center; place-content: center;
    border: thin solid var(--border-color); background: transparent; margin-right: var(--margin-horizontal-regular);
}
#filter { accent-color: var(--color-green); width: max-content; }