<header>
    <img src="/static/images/logo.svg" alt="Logo">
    <div>
        <img src="/static/images/cat.svg" alt="Cat">
        <span>Администратор</span>
        <a href="/logout">Выйти</a>
    </div>
</header>