<nav>
    <span>Меню управления</span>
    <a class="employees <%=req.url == "/employees" ? "opened": ""%>" href="/employees">Сотрудники</a>
    <a class="streamers <%=req.url == "/streamers" ? "opened": ""%>" href="/streamers">Данные стримеров</a>
    <a class="accounting <%=req.url == "/accounting" ? "opened": ""%>" href="/accounting">Учет данных</a>
</nav>