@layer normalization
{
    :root, ::backdrop
    {
        --brand-color: hsl(199, 90%, 50%);
        --background-color: hsl(240, 21%, 10%);
        --surface-color: hsl(240, 19%, 15%);
        --border-color: hsl(240, 15%, 19%);

        --text-major-color: hsl(0, 0%, 100%);
        --text-minor-color: hsl(219, 12%, 56%);
        --text-placeholder-color: hsl(219, 12%, 56%);
        --text-inverse-color: hsl(240, 21%, 10%);

        --color-red: red;
    }

    :root, ::backdrop
    {
        accent-color: var(--brand-color);
        color-scheme: light dark;


        --line-height: 1.66;
        --outline-width: 2px;
        
        --font-size-regular:  15px;
        --font-size-medium:   17px;
        --font-size-big:      20px;

        --sizing-interactive: calc(3 * var(--outline-width));
        --sizing-regular:     var(--font-size-regular);
        --sizing-medium:      var(--font-size-medium);
        --sizing-big:         var(--font-size-big);

        --padding-vertical-interactive: calc(var(--sizing-interactive) / 1.75);
        --padding-vertical-regular:     calc(var(--sizing-regular)     / 1.75);
        --padding-vertical-medium:      calc(var(--sizing-medium)      / 1.75);
        --padding-vertical-big:         calc(var(--sizing-big)         / 1.75);

        --padding-horizontal-interactive: calc(var(--sizing-interactive) / 1.00);
        --padding-horizontal-regular:     calc(var(--sizing-regular)     / 1.00);
        --padding-horizontal-medium:      calc(var(--sizing-medium)      / 1.00);
        --padding-horizontal-big:         calc(var(--sizing-big)         / 1.00);

        --padding-interactive: var(--padding-vertical-interactive) var(--padding-horizontal-interactive);
        --padding-regular:     var(--padding-vertical-regular)     var(--padding-horizontal-regular);
        --padding-medium:      var(--padding-vertical-medium)      var(--padding-horizontal-medium);
        --padding-big:         var(--padding-vertical-big)         var(--padding-horizontal-big);

        --margin-vertical-interactive: calc(var(--sizing-interactive) / 1.00);
        --margin-vertical-regular:     calc(var(--sizing-regular)     / 1.00);
        --margin-vertical-medium:      calc(var(--sizing-medium)      / 1.00);
        --margin-vertical-big:         calc(var(--sizing-big)         / 1.00);
        
        --margin-horizontal-interactive: calc(1.75 * var(--sizing-interactive));
        --margin-horizontal-regular:     calc(1.75 * var(--sizing-regular));
        --margin-horizontal-medium:      calc(1.75 * var(--sizing-medium));
        --margin-horizontal-big:         calc(1.75 * var(--sizing-big));

        --margin-interactive: var(--margin-vertical-interactive) var(--margin-horizontal-interactive);
        --margin-regular:     var(--margin-vertical-regular)     var(--margin-horizontal-regular);
        --margin-medium:      var(--margin-vertical-medium)      var(--margin-horizontal-medium);
        --margin-big:         var(--margin-vertical-big)         var(--margin-horizontal-big);
        
        --interactive-min-width: 200px;
        --interactive-min-height: 50px;

        --border-radius-small: 5px;
        --border-radius-regular: 10px;
    }
    
    *, *::before, *::after { padding: 0; margin: 0; box-sizing: border-box; text-indent: 0; }
    * { font-family: inherit; font-stretch: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; line-height: inherit; }
    body { min-height: 100vh; color: var(--text-major-color); font-size: var(--font-size-regular); font-weight: 400; font-family: Montserrat; line-height: var(--line-height); }

    img, picture { flex-shrink: 0; max-inline-size: 100%; display: block; overflow: hidden; }
    img:not([alt]) { outline: 10px solid red; }

    button { appearance: button; }
    div { position: relative; }

    strong { font-weight: 700; }

    hr { margin: var(--margin-vertical-regular) 0; border: none; background-color: var(--border-color); height: 1px; }

    [hidden], input[type=hidden] { display: none !important; content-visibility: hidden !important; }
    @media (min-width: 1000px)
    {
        .desktop_hidden { display: none !important; }
    }
}

@layer headings
{
    h1, h2, h3 { color: var(--text-major-color); }
    h1 { font-size: var(--font-size-big); font-weight: 700; }
    h2 { font-size: var(--font-size-big); font-weight: 700; }
}

@layer inputs
{
    input:not([type='checkbox']), select, textarea
    {
        display: block; min-width: var(--interactive-min-width); width: 100%; min-height: var(--interactive-min-height);
        padding: var(--padding-regular); font-size: var(--font-size-regular); margin: var(--margin-vertical-interactive) 0;
        background-color: var(--background-color); border: thin solid var(--border-color); border-radius: var(--border-radius-regular);
    }
    ::placeholder { color: var(--text-minor-color); opacity: 1; }
}

@layer labels
{
    label { display: block; width: 100%; margin: var(--margin-vertical-interactive) 0; color: var(--text-minor-color); }
}

@layer buttons
{
    button
    {
        display: block; min-width: var(--interactive-min-width); width: 100%; min-height: var(--interactive-min-height); padding: var(--padding-regular);
        background-color: var(--brand-color); border: none; border-radius: var(--border-radius-regular);
        text-align: center; font-size: var(--font-size-regular); color: var(--text-inverse-color);
    }
}