<!DOCTYPE html>
<html lang='ru'>
    <head>
        <meta name="robots" content="noindex">

        <style nonce="<%=cspNonce.style%>">
            body { display: flex; place-items: center; place-content: center; overflow: auto; text-align: center; }
            main { max-width: min(70ch, 90vw); display: flex; flex-direction: column; align-items: center; }
            p { text-indent: unset; text-align: center; }
        </style>

        <%- include("general/head.ejs") %>
    </head>
    <body>
        <div>
            <main tabindex="-1">
                <h1><%=title%></h1>
                <p><%=message%></p>
                <a href="/">На главную</a>
            </main>
        </div>
    </body>
</html>